.normal-type {
  background-color: #b6b09f;
}
.fire-type {
  background-color: #e53e20;
}
.water-type {
  background-color: #4e71ff;
}
.electric-type {
  background-color: #ffae00;
}
.grass-type {
  background-color: #12b923;
}
.ice-type {
  background-color: #1b56fd;
}
.fighting-type {
  background-color: #b32727;
}
.poison-type {
  background-color: #7965c1;
}
.ground-type {
  background-color: #cba35c;
}
.flying-type {
  background-color: #7a8b8b;
}
.psychic-type {
  background-color: #b33791;
}
.bug-type {
  background-color: #a4b465;
}
.rock-type {
  background-color: #dab27e;
}
.ghost-type {
  background-color: #7965c1;
}
.dragon-type {
  background-color: #4d55cc;
}
.dark-type {
  background-color: #3f3351;
}
.steel-type {
  background-color: #7f8caa;
}
.fairy-type {
  background-color: #ec7fa9;
}
